# Do not remove this line, otherwise mod_rewrite rules will stop working
RewriteBase /

RewriteEngine On
RewriteRule		^([0-9]+)/?$						index.php?tab=$1								[NC,L]
RewriteRule		^([0-9]+)/([0-9]+)/?$				index.php?tab=$1&item=$2 						[NC,L]